.movieCard{
    list-style: none;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.movieCard:hover{
    opacity: .8;
}
.movieImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}
@media (max-width:560px) {
    .movieImage{
        width: 100%;
        height: auto;
    }
}